header{
    text-align: center;
}

body{
    background-image: url("homer.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

#nombres{
    text-align: center;
}

#text{
    margin-left: 45%;
    text-align: center;
}

#resultat{
    text-align: center;
}