header{
    text-align: center;
}

body{
    background-image: url("homer.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    line-height: 20vh;
    font-size: 2em;

}

#nombres{
    text-align: center;
}

#text{
    margin-left: 45%;
    text-align: center;
}

#resultat{
    text-align: center;
}

#input{
    font-size: 2em;
}

@keyframes textR {
10% {  color: white;
        font-size: 2em;
        }
50% {  color: red;
font-size: 4em
}
100% {  color: white;
    font-size: 2em;
}
}

@keyframes textV{
    10% {  color: white;
        font-size: 2em;
    }
    50% {  color: green;
        font-size: 3em
    }
    100% {  color: white;
        font-size: 2em;
    }
}
